[submodule "jni/OpenCC"]
	path = jni/OpenCC
	url = git@github.com:BYVoid/OpenCC.git
[submodule "jni/yaml-cpp"]
	path = jni/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "jni/snappy"]
	path = jni/snappy
	url = git@github.com:google/snappy.git
[submodule "jni/leveldb"]
	path = jni/leveldb
	url = git@github.com:google/leveldb.git
[submodule "jni/boost"]
	path = jni/boost
	url = git@github.com:boostorg/boost.git
[submodule "jni/librime"]
	path = jni/librime
	url = git@github.com:lotem/librime.git
[submodule "jni/marisa-trie"]
	path = jni/marisa-trie
	url = git@github.com:salarshad/marisa-trie.git
[submodule "jni/miniglog"]
	path = jni/miniglog
	url = git@github.com:osfans/miniglog.git
