[submodule "jni/OpenCC"]
	path = jni/OpenCC
	url = https://github.com/BYVoid/OpenCC.git
[submodule "jni/yaml-cpp"]
	path = jni/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "jni/snappy"]
	path = jni/snappy
	url = https://github.com/google/snappy.git
[submodule "jni/leveldb"]
	path = jni/leveldb
	url = https://github.com/google/leveldb.git
[submodule "jni/boost"]
	path = jni/boost
	url = https://github.com/boostorg/boost.git
[submodule "jni/marisa-trie"]
	path = jni/marisa-trie
	url = https://github.com/s-yata/marisa-trie.git
[submodule "jni/miniglog"]
	path = jni/miniglog
	url = https://github.com/osfans/miniglog.git
[submodule "jni/librime"]
	path = jni/librime
	url = https://github.com/rime/librime.git
[submodule "jni/libiconv"]
	path = jni/libiconv
	url = https://github.com/zhengyi0802/android-external-libiconv.git
