# SPDX-FileCopyrightText: 2015 - 2024 Rime community
#
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "OpenCC"]
	path = app/src/main/jni/OpenCC
	url = https://github.com/BYVoid/OpenCC.git
[submodule "librime"]
	path = app/src/main/jni/librime
	url = https://github.com/rime/librime.git
	ignore = dirty
[submodule "librime-lua"]
	path = app/src/main/jni/librime-lua
	url = https://github.com/hchunhui/librime-lua
	ignore = dirty
[submodule "librime-lua-deps"]
	path = app/src/main/jni/librime-lua-deps
	url = https://github.com/hchunhui/librime-lua
	branch = thirdparty
[submodule "librime-octagram"]
	path = app/src/main/jni/librime-octagram
	url = https://github.com/lotem/librime-octagram.git
[submodule "librime-predict"]
	path = app/src/main/jni/librime-predict
	url = https://github.com/rime/librime-predict
[submodule "prelude"]
	path = app/data/rime/prelude
	url = https://github.com/rime/rime-prelude
[submodule "luna-pinyin"]
	path = app/data/rime/luna-pinyin
	url = https://github.com/rime/rime-luna-pinyin
[submodule "stroke"]
	path = app/data/rime/stroke
	url = https://github.com/rime/rime-stroke
[submodule "essay"]
	path = app/data/rime/essay
	url = https://github.com/rime/rime-essay
