language: android
script:
  - git fetch origin --tags
  - ant clean
  - ant release
git:
  submodules: false
jdk:
    - oraclejdk8
android:
  components:
    - tools # to get the new `repository-11.xml`
    - tools # to install Android SDK tools 25.1.x (x = 6 right now)
    - android-25
deploy:
  provider: releases
  prerelease: true
  api_key:
    secure: Re05JVyUGeHmpcC8fZgv9KFfaYl1Mm0C7t1qhkhLpc1V1AMBexEVVTPbMapkrrssZa9QRTX7qPUrnABYPCVJEM7faOA7Toy1pKI2RK4AnWDiIxUAH+2kZhAiNis21dXAt2ucQFvAbwOXJ952xjoVOXHrMMRgDFmAotfYYgRfapAypfkIHqBb0pF2NPEvuj/KKAwzXtjvfVcdPBZHOxNZecJPJh5rvDHTigLHeh7XrnzEkqGBlgrj04Orf8wNrGCWhVu9cGGtn9rLYxf4Jq24fe9tvGNlAt3z6n7nUOHDpr2QwirzSF12YO8q/ouS4JrGDODVgnwPpKau5z1lwedsnA6KxwfHnfuoCDD2xbS/2lLnU3fCjTXqjX/QZ0f/i3s0fIz7a7FfHEdSUTp/nRUfhncHqkBPA1J3xFdlPkHsIIu6BX+IkYeVb6u7Ta381O6/EFVTalFG1/avBggUvjuU5vP7vgD46ToQVYrA7cFiPuI8a9QpG5Sju7Nq0xap/twVsexny16duGWKHHlppRUjFn8dmStOPcSebPlRhQr2E9roDSh2jhVo++PTw+jATO/mfzNE7VFYTKnLHUQYWkWXjA5clCEgEYHZciZz1OG7WrIRpekp0Ow0o4hWg59Y2LqYHoVKjwmAhQb0AGK6TLI8Ss560cPO8pNYsdv+UzGDtYM=
  skip_cleanup: true
  file_glob: true
  file: bin/trime-20*.apk
  on:
    tags: true
