<?xml version="1.0" encoding="utf-8"?>

<!--
SPDX-FileCopyrightText: 2015 - 2024 Rime community

SPDX-License-Identifier: GPL-3.0-or-later
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.osfans.trime.TrimeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/trime_app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:theme="@style/Theme.TrimeAppTheme">

        <service
            android:name=".ime.core.TrimeInputMethodService"
            android:exported="true"
            android:label="@string/trime_app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <provider
            android:name=".provider.RimeDataProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Settings activity -->
        <activity
            android:name=".ui.main.PrefMainActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.setup.SetupActivity"
            android:exported="false" />

        <activity
            android:name=".ui.main.LogActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.main.PrefMainActivity" />

        <activity
            android:name=".ui.main.LiquidKeyboardEditActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/edit"
            android:launchMode="singleInstance"
            android:taskAffinity=".ui.main.LiquidKeyboardEditActivity"
            android:theme="@style/Theme.DialogTheme"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />

        <!-- Using an activity alias to disable/enable the app icon in the launcher -->
        <activity-alias
            android:name="com.osfans.trime.PrefLauncherAlias"
            android:exported="true"
            android:label="@string/trime_app_name"
            android:launchMode="singleTask"
            android:targetActivity=".ui.main.PrefMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- All activities must be declared above <activity-alias> tag -->
    </application>
</manifest>
